.sidebar {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

.sidebarSticky {
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.navLinkInSidebar {
  font-weight: 500;
  color: #333;
}
